*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, main, .template, .template__container, .interface, .interface__button, .box, .cell {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}


body {
    height: 100vh;
    font-family: "Bal";
}

.template {
    width: 584px;
}

.title {
    font-size: 75px;
    line-height: 150px;
    letter-spacing: 5px;
}

.template__container {
    height: 597px;
    font-size: 45px;
    cursor: default;
    user-select: none;
}

.box {
    width: calc(100% / 3);
}

.box:nth-child(3n + 1), .box:nth-child(3n + 3) {
    border-bottom: none;
}

.cell {
    height: 65px;
    width: calc(100% / 3);
    outline: none;
    transition: .2s all ease-in-out;
    opacity: 1;
    caret-color: transparent;
    flex: 0 0 calc(100% / 3);
}

.cell:nth-child(9n + 1), .cell:nth-child(9n + 2), .cell:nth-child(9n + 3) {
    border-top: none;
}

.interface {
    width: 100%;
}

.interface__button {
    font-size: 40px;
    cursor: pointer;
    width: calc(100% / 3);
    line-height: 75px;
    font-family: "Bal";
}

.filled {
    animation: animate .3s linear;
}

@keyframes animate {
    0% {
        background-color: #bbdefb;
    }
    20%, 80% {
        background-color: #c3d7ea;
    }
    100% {
        background-color: #bbdefb;
    }
}


@font-face {
    font-family: "Bal";
    src: url('/frontend/Bal.ttf');
}